<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/home.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="geral">
	<div id="conteudo">
    	<div id="esquerdo">
        	<div id="top-musicas">
            	<h2>Top Músicas</h2>
                <div class="list-top">
                	<ul>
                    	<li><a href="#">Real Madrid<br /><span>Fernando e Sorocaba</span></a></li>
                        <li><a href="#">Pássaro de Fogo<br /><span>Paula Fernandes</span></a></li>
                        <li><a href="#">Your Love is my Drug<br /><span>Ke$ha</span></a></li>
                        <li><a href="#">Byba<br /><span>Justin Biba</span></a></li>
                        <li><a href="#">Stereo Love<br /><span>Edward Maya</span></a></li>
                        <li><a href="#">Meteóros de Pégasus<br /><span>Luan e Vanessa</span></a></li>
                        <li><a href="#">Não Mais<br /><span>Victor e Léo</span></a></li>
                        <li><a href="#">Bad Romance<br /><span>Lady Gaga</span></a></li>
                        <li><a href="#">Aleijado<br /><span>Lady Gaga</span></a></li>
                        <li><a href="#">Hey Jude<br /><span>Paul McCako</span></a></li>
                    </ul>
                </div>
                <div class="footer-top">
                	<a href="#">TOP 100 Músicas</a>
                </div>
            </div>
            <div id="top-artistas">
            	<h2>TopArtistas</h2>
                <div class="list-top">
                    <ul class="artist-image">
                        <li><a href="#"><img src="imagens/sidney-magal.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/paul-mccartney.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/victor-leo.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/paula-fernandes.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/fernando-sorocaba.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/jorge-mateus.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/luna-santana.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/lady-gaga.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/justin-bieber.jpg" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="imagens/bruno-marrone.jpg" width="40" height="40" /></a></li>
                    </ul>
                	<ul>
                    	<li><a href="#">Sidney Magal</a></li>
                        <li><a href="#">Paul McCaco</a></li>
                        <li><a href="#">Victor e Léo</a></li>
                        <li><a href="#">Paula Fernandes</a></li>
                        <li><a href="#">Fernando e Sorocaba</a></li>
                        <li><a href="#">George and Mathews</a></li>
                        <li><a href="#">Luan Santana</a></li>
                        <li><a href="#">Lady Gagá</a></li>
                        <li><a href="#">Justin Byba</a></li>
                        <li><a href="#">Bruno e Macarrão</a></li>
                    </ul>
                </div>
                <div class="footer-top">
                	<a href="#">TOP 100 Artistas</a>
                </div>
            </div>
            
            <div id="twitter">
                	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
					<script>
					new TWTR.Widget({
					  version: 2,
					  type: 'search',
					  search: 'tocaletra',
					  interval: 5000,
					  title: 'Sobre o Tocaletra no',
					  subject: 'Twitter',
					  width: 625,
					  height: 150,
					  theme: {
						shell: {
						  background: '#125286',
						  color: '#ffffff'
						},
						tweets: {
						  background: '#ffffff',
						  color: '#444444',
						  links: '#1985b5'
						}
					  },
					  features: {
						scrollbar: true,
						loop: true,
						live: true,
						hashtags: true,
						timestamp: true,
						avatars: true,
						toptweets: true,
						behavior: 'default'
					  }
					}).render().start();
					</script>
            </div>
            
            <div id="facebook">
            	<h2>Comentários</h2>
                <div class="list-top-max">
                	<div id="fb-root">
						<script src="http://connect.facebook.net/en_US/all.js#appId=264887889270&amp;xfbml=1"></script>
    
                        <fb:comments 
                        xid="NamPang" 
                        showform="false" 
                        publish_feed="true" 
                        simple="true" 
                        reverse="false" 
                        numposts="3" 
                        width="600"></fb:comments>
					</div>
                </div>
                <div class="footer-comments"></div>
            </div>
            
        </div>
        <div id="direito">
        	<div id="nuvem-artista">
            	<h2>Nuvem de Artistas</h2>
                <div class="list-top-min">
                	
                </div>
                <div class="footer-top">
                	<a href="#">TOP 100 Artistas</a>
                </div>
            </div>
            
            <div id="propaganda"></div>
            
            <div id="nuvem-musicas">
            	<h2>Nuvem de Músicas</h2>
                <div class="list-top-min">
                	
                </div>
                <div class="footer-top">
                	<a href="#">TOP 100 Músicas</a>
                </div>
            </div>
            
            <div id="ultimas-noticias">
            	<h2>Últimas Notícias</h2>
                <div class="list-top-min">
                	
                </div>
                <div class="footer-top">
                	<a href="#">Mais Notícias</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>
