<div id="breadcrumbs">
	<a href="http://tocaletra.uol.com.br" title="TocaLetra.com.br">TocaLetra</a> » 
	<strong>Esqueci a senha</strong>
</div>
<div id="titulo">
    <h2>Esqueci a senha</h2>
    <h3>Não lembra a sua senha? Não tem problema, nós vamos te ajudar!</h3>
</div>
				
<article id="text" class="forms">
	<div id="forgotPassword">
		<fieldset>
			<form id="recoverPasswordForm" action="/usuario/resetPassword" method="post">				
				<label for="email">E-mail:</label>
				<input type="text" name="email" id="email" value="$!user.email" size="45" class="validate[required,custom[email],maxLength[100]]">
				
				<p>Atenção: Será enviada uma nova senha para seu e-mail.</p>
									
				<div id="actions">
					<button id="submitButton" value="Enviar" type="button" class="botao-form enviar">Enviar</button>
					<button id="resetButton" value="Limpar" type="reset" class="botao-form limpar">Limpar</button>
				</div>
			</form>
		</fieldset>
	</div>
</article>
<script>
	#if($emailNotExist)
		$("#email").showPrompt("$emailNotExist","error",false,false,"centerRight");
	#end
	$("#recoverPasswordForm").validationEngine({
		submitFunction:function(){
			$("#basic-modal-content").modal();
		}
	});
	$("#submitButton").click(function(){
		$("#recoverPasswordForm").submit();
	});
	
	$("#resetButton").click(function(){
		$("#email").closePrompt(true);
		$("#email").val("");
	});
</script>