<div id="breadcrumbs">
	<a href="http://tocaletra.uol.com.br">TocaLetra</a> » 
	<strong>Mensagem</strong>
</div>
<div id="titulo">
	<h2><p>$!message</p></h2>
	<h3><p>$!subMessage</p></h3>
</div>