<div id="breadcrumbs">
	<a href="http://tocaletra.uol.com.br" title="TocaLetra.com.br">TocaLetra</a> » 
	<strong>Política de Privacidade</strong>
</div>
<div id="titulo">
	<h2>Política de Privacidade</h2>
</div>
<div id="privacyPolicies">
	<p>
		A política de privacidade do tocaletra.com.br é complementar à Política de Privacidade do Portal UOL.<br />
		O tocaletra.com.br solicita dados dos usuários através do seu site, no intuito proporcionar interatividade.<br />
		O site não compartilha os dados coletados com terceiros.<br />
		Só serão enviados comunicados ou mensagens publicitárias caso o usuário solicite seu recebimento.
	</p>
</div>