<meta name="title" content="Listagem dos TOP 100 artistas" />
<meta name="description" content="Listagem dos TOP 100 artistas - no TocaLetra você encontra mais de 2 milhões de Letras de Música. Também encontra Cifras, Vídeos, Imagens e ouve as músicas de seus artistas preferidos." />
<title>Listagem dos TOP 100 artistas</title>
<link rel="canonical" href="http://www.tocaletra.com.br/top/artistas.html" />
<!-- X -->
<div id="breadcrumbs">
	<a href="http://tocaletra.uol.com.br" title="TocaLetra.com.br">TocaLetra</a> »
	<strong>TOP 100 Artistas</a></strong>
</div>

<div id="info-artistas">
	<div id="dados-letra">
	    <p id="nome-musica">TOP 100 Artistas</p>
	    <p id="nome-artista">Mais Acessados</p>
	</div>		
	<div id="share-panel-no-gallery">
		<a id="orkut-button" class="share-button" title="Orkut" href="javascript: void(0)"
			onclick="shareOrkut('http://www.tocaletra.com.br/top/artistas.html')"></a>
		<a id="twitter-button" class="share-button" title="Twitter" href="javascript: void(0)"
			onclick="shareTwitter('http://www.tocaletra.com.br/top/artistas.html', 'Listagem das TOP 100 artistas no @tocaletra.')"></a>
		<fb:like href="http://www.tocaletra.com.br/top/artistas.html" layout="button_count" show_faces="false" width="300"></fb:like>
	</div>
</div>

<div class="banner">
	<script type="text/javascript">		
		descrColor="000000"; titleColor="CC0000"; urlColor="000066"; borderColor="000033"; bgColor="FFFFFF"; altColor="FFFFFF";
		coddisplaysupplier="adb29daaacbd47a6bc92f3f2d86af736"; formatId="2"; deslabel="pag-letra"; numads="2"; type="1";
	</script>
	<script type="text/javascript" src="http://adrequisitor-af.lp.uol.com.br/uolaf.js"></script>
</div>

<div id="listagem">
	#set ($maxColumn = 1) 
	#if ($topArtists.size() > 3)	
		#set ($maxColumn = $topArtists.size()/3)
		#set ($modColumn = $topArtists.size()%3)
		#if ($modColumn > 0) 
			#set ($maxColumn = $maxColumn + 1)
		#end
	#end
	#set ($maxColumnBase = $maxColumn)
	#set ($indexItemHi = 0)

   <div class="coluna">
       <ol>
		   #foreach ($topArtist in $topArtists)
		   	    #if ($indexItemHi >= $maxColumn)
		   	    	#set ($maxColumn = $maxColumn + $maxColumn)
		   	    	#set ($indexRestart = $indexItemHi + 1)
					</ol>
					</div>
					<div class="coluna">
					<ol start="$indexRestart">    	
		   	    #end	     
					<li><a title="$topArtist.name - Letras, cifras e música" href="$permalinkTool.linkToArtistUri($topArtist.uri)">$topArtist.name</a></li>		
				#set ($indexItemHi = $indexItemHi + 1)
		   #end
	   </ol>
   </div>
</div>

<div class="banner">
	<script type="text/javascript">		
		descrColor="000000"; titleColor="CC0000"; urlColor="000066"; borderColor="000033"; bgColor="FFFFFF"; altColor="FFFFFF";
		coddisplaysupplier="adb29daaacbd47a6bc92f3f2d86af736"; formatId="2"; deslabel="pag-letra"; numads="2"; type="1";
	</script>
	<script type="text/javascript" src="http://adrequisitor-af.lp.uol.com.br/uolaf.js"></script>
</div>
